@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/////////////////////////////////////////
// COLOR VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-whit-smoke: hsl(0, 0%, 95%);
$color-primary-cyan-blue: hsl(206, 89%, 59%);
$color-primary-dark: hsl(0, 0%, 0%);
$color-primary-dark-gray: hsl(0, 0%, 20%);

/////////////////////////////////////////
// CSS RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: $color-primary-dark;
  font-family: 'Montserrat', sans-serif;
}