@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/////////////////////////////////////////
// COLOR VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-whit-smoke: hsl(0, 0%, 95%);
$color-primary-cyan-blue: hsl(206, 89%, 59%);
